* {
  box-sizing: border-box;
}

body {
 background: black;
}
#container {
position: relative;
z-index: 0
}
#video {
position: absolute;
z-index: -1;
}
#alertRaid {
position: absolute;
left: 450px;
top: 480px;
z-index: 1;
/*text-align: center;*/
}

/* Choose Text Color */
/*background-image: linear-gradient(#84E3EF 0%, #84E3EF 40%, #EEEBEF 40%, #EEEBEF 60%, #84E3EF 60%, #84E3EF 100%); /*Blue*/
/*background-image: linear-gradient(#BD5908 0%, #BD5908 40%, #FFC35A 40%, #FFC35A 60%, #BD5908 60%, #BD5908 100%); /*Red*/
/*background-image: linear-gradient(#78CAA8 0%, #78CAA8 40%, #E0F8E0 40%, #E0F8E0 60%, #78CAA8 60%, #78CAA8 100%); /*Green*/
/*background-image: linear-gradient(#D090E0 0%, #D090E0 40%, #F8D8E0 40%, #F8D8E0 60%, #D090E0 60%, #D090E0 100%); /*Purple*/
/*background-image: linear-gradient(#BB9720 0%, #BB9720 40%, #EFE09C 40%, #EFE09C 60%, #BB9720 60%, #BB9720 100%); /*Golden*/

 .blue {
  color: black;
  background-image: linear-gradient(#84E3EF 0%, #84E3EF 40%, #EEEBEF 40%, #EEEBEF 60%, #84E3EF 60%, #84E3EF 100%); /*Blue*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5px;
  margin-bottom: -30px;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.red {
  color: black;
  background-image: linear-gradient(#BD5908 0%, #BD5908 40%, #FFC35A 40%, #FFC35A 60%, #BD5908 60%, #BD5908 100%); /*Red*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5px;
  margin-bottom: -30px;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.purple {
  color: black;
  background-image: linear-gradient(#D090E0 0%, #D090E0 40%, #F8D8E0 40%, #F8D8E0 60%, #D090E0 60%, #D090E0 100%); /*Purple*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5px;
  margin-bottom: -30px;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.golden {
  color: black;
  background-image: linear-gradient(#BB9720 0%, #BB9720 40%, #EFE09C 40%, #EFE09C 60%, #BB9720 60%, #BB9720 100%); /*Golden*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5px;
  margin-bottom: -30px;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.green {
  color: black;
  background-image: linear-gradient(#78CAA8 0%, #78CAA8 40%, #E0F8E0 40%, #E0F8E0 60%, #78CAA8 60%, #78CAA8 100%); /*Green*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 5px;
  margin-bottom: -30px;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.msg {
  color: black;
  background-image: repeating-linear-gradient(#84E3EF 0%, #84E3EF 40%, #EEEBEF 40%, #EEEBEF 60%, #84E3EF 60%, #84E3EF 100%); /*Blue*/
  padding-top: 20px;
  font-family: 'Megamax Jones';
  font-size: 45px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
